.container-wrapper{

}
.container-fluid{

  }

  .test{
    background-color: #f0f0f0!important;
      
  }
  .row{
    padding: 0 10%;
  }
  
.col-12{
    padding: 10px;
}


ul li {
    list-style: none;
}

.ing-steps{
    background: #f0f0f0!important;
}

.imgs {
  border-radius: 5px;
  overflow: hidden;
  width:100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}