.main_div{
    min-height: calc(100vh - 360px);
    width:100vw;
    margin:0px;
    box-sizing: border-box;

}
nav  ul {
    display: flex;
    justify-content: center;
}
nav  ul li {
    display: inline-block;
    margin: 0px 10px; 
}

