.wrapper {
  border: 5p solid red;
  background-color: green;
  padding: 15% 15% 30% 15%;
  box-shadow: 0px 3px 6px #a7787829;
  border-radius:  0.25rem;
  color: white;
  & ul {
    list-style: none;
    display: inline-block;
  }
}
.container {
  width: 100%;
  color: white;
 
}
.container h3 {
  font-size: 16px ;
  margin-bottom: 0.2rem;
  letter-spacing: 1.2px;
  font-weight: regular;
  color:white;
}
.container p {
  font-size: 16px;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
  color: white;
  &:nth-last-child(1) {
    margin-bottom: 0 rem;
  }
}

.socialIcons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  ul {
    text-align: center;
    padding: 0px;
    li {
      display: inline-block;
      a {
        transition: 0.3s linear;
        svg {
          color: #fff;
          &:hover {
            color: whitesmoke;
            transform: translateY(-2px);
          }
        }
      }
    }
    li:not(:last-child) {
      margin-right: 30px;
    }
  }
}
