

/* .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:145px;
    width:100%;
    background-color: white;
    border-bottom: 5px solid yellow;
}
.header  ul li{
    display: inline-block;
    margin: 10px 20px;
}

.image_div {
    padding-bottom: 5px;
}
.navbarDiv{
    display: flex;
    justify-content: space-between !important;
} */

.headerBody{
    min-height:250px;
    width :100%;
    display: flex;
    justify-content: center;
    color:#1d1145;
    background: #fafafa;
}

.headerText {
  max-width: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2rem 0;
}