.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:145px;
    width:100%;
    background-color: white;
    border-bottom: 5px solid yellow;
}
.header  ul li{
    display: inline-block;
    margin: 10px 20px;
}

.image_div {
    padding-bottom: 5px;
}
