.login{
    display: flex;
    justify-content: center;
    padding-top:100px;
    
}
.login_form {
    width:100%;
    min-width:300px;
    max-width: 600px;
}
.login_div {
    width:100%;
    display: flex;
    justify-content: center ;
}