.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.login_div {
    width:100%;
    display: flex;
    justify-content: center ;
}
.registration {
    width:100%;
    display: flex;
    justify-content: center ;
}